.container {
    display: inline-block;
    height: 100%;
    width: 80%;
    margin-left: 10%;
}

.answer {
    display: inline-block;
    width: 50%;
}

.answer text {
    font-family: Inter;
    font-size: 70%;
    line-height: 116%;
    text-transform: capitalize;
}

@media screen and (max-width: 910px) {
    .container {
        display: inline-block;
        height: 10%;
        width: 100%;
        margin-left: 0;
    }
    
    .answer {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .answer text {
        font-family: Inter;
        font-size: 70%;
        font-weight: 400;
        line-height: 116%;
        text-transform: capitalize;
    }
}